<div class="wrapper">
    <div class="nav">
        <div>
            <button class="btn" (click)="createHotel()">Create</button>
            <button class="btn" (click)="refresh()">Refresh</button>
        </div>
        <div class="linkStyle">
            <button class="btn" (click)="goToHotelsList()">Go back</button>
            <button class="btn" (click)="goToAdminPage()">Admin</button>
        </div>
    </div>
    <div>
        <h2>List of Hotels</h2>
    </div>
    <div>
        <table class="table table-striped outerTable">
            <tbody>
                <tr>
                    <th>Country</th>
                    <th>Hotel name</th>
                    <th>Rating</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let hotel of hotels">
                    <td> {{hotel.country}} </td>
                    <td> {{hotel.name}} </td>
                    <td> {{hotel.rating}} </td>
                    <td>
                        <button class="btnCustom showMoreInfoStyle" (click)="showMoreInfo(hotel)">Show more info
                            <span><img class="forwardIcon" [src] = "forwardIconSrc"></span>
                        </button>
                    </td>
                    <td>
                        <button class="btnCustom" (click)="editHotel(hotel)">Edit</button>
                        <button type="button" class="btnCustom" data-toggle="modal" data-target="#exampleModalCenter" (click)="deleteHotel(hotel)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>  
    <div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete hotel</h5>
                <button type="button" class="close closeBtnStyle" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>You are going to delete hotel <b> <span class="currentHotelStyle">{{currentHotelName}}.</span></b></p>
                  <p>Please confirm that hotel should be deleted. </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "goBack()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="confirmDeleteHotel(currentHotel)"data-dismiss="modal" >Confirm</button>
              </div>
            </div>
          </div>
        </div>
    </div> 
</div>