img{
    height: 200px;
    max-width: 280px;
}

h2{
    padding-left: 15px;
    padding-top: 30px;
}

.linkStyle{
    padding-top: 25px;
  
}

.wrapper{
    display: flex;
    flex-flow: column;
    margin: 10px 200px;
    margin-top: 90px;
}

.nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}

.outerTable{
    font-size: 20px;
}


table tr{
    background-color: transparent;
}

table td{
    vertical-align: middle;  
    padding-left: 20px; 
    padding-right: 20px;
}

button{
    margin: 10px 20px 10px;
}

button:first-of-type{
    margin-left: 0;
}

button:last-of-type{
    margin-right: 0;
}

.btnCustom{
    background-color: transparent;
    color: #805ce4;
}

.btnCustom:hover{
    background-color: #805ce4;
    color:#fff;
}

.showMoreInfoStyle{
    font-size: 20px;
    border: none;
    margin-right: 5px;
}

.showMoreInfoStyle:hover{
    border: none;
    background-color: transparent;
    color:#805ce4;
}

.showMoreInfoStyle:active{
    border: none;
}

.forwardIcon{
    width:20px;
    height: 20px;
    color: #805ce4;
}


tbody tr:hover{
    background-color: #f8f9fa;
}

.currentHotelStyle{
    font-weight: 700;
}

.modal-body p{
    font-size: 18px;
}

.closeBtnStyle{
    background-color: transparent;
    border: none;
    color: #805ce4;
}

.closeBtnStyle:hover{
    background-color: transparent;
    border: none;
    color: #805ce4;
}
