p{
    font-size: 20px;
    font-weight: 700;
    color: #D66786;
}

ul {
    list-style: none;
    display: flex;
}   

a {
    text-decoration: none; 
    color: #c8a3ec;
    padding: 5px 10px;
    font-size: 30px;
    margin-right: 20px;
}

.linkStyle button{
    margin-bottom: 20px; 
}

.active{
    color: #fff;
    background-color:#D66786;
}

.linkStyle button:hover{
    transition: linear 0.5s all;;
}

select, input{
    border:none;
    border-bottom: 1px solid gray;
}

.wrapper{
   display: flex;
   flex-flow:column;
   margin-left: 20px;
   margin-right: 20px;
}

.wrapper > div{
    display: flex;
    flex-flow: row;
}

.linkStyle{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;;
}

.mainFiltersStyle{
    display: flex;
    flex-flow:row;
    height: 90px;
    margin-left: 20px;
}

.mainFiltersStyle > div{
    margin-right: 40px;
}   

.mainFiltersStyle button{
    margin-top: 25px;
}

.datesFiltersStyle > div{
    display: flex;
    flex-flow: row;
}

.guestStyle{
    min-width: 200px;
}

.dateStyle{
    display: flex;
    flex-flow: row;
    margin-right: 10px;
}

.dateStyle span{
    padding-top: 5px;
    margin-right: 5px;
}

.message {
    position: absolute;
    top: 118px;
    right: 1%;
    width: 300px;
    height:110px; 
    display: flex;
    flex-flow: row;
    border: 2px solid #D66786;;
    border-radius: 25px;
    color:#D66786;;
    font-size: 18px;
    padding:10px;
}

.messageTxtStyle{
    width: 241px;
}

.closeImgStyle{
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

.closeBtnStyle{
    color: white;
    background: transparent;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    padding:0;
}

.closeBtnStyle:hover{
    border:none
}

.accordion{
    width: 100%;
}

.accordion, .card, .card-header{
    width: 100%;
    background-color: transparent;
    border:none;
}

.card-header{
    padding:0;
}

.card-body{
    display: flex;
    flex-flow: column;
    padding-top: 0;
    padding-bottom: 0;
}

.cardBodyWrapper{
    display: flex;
    flex-flow: row;
}

.cardBodyWrapper > div{
    margin-right: 40px;
}

.PricesStyles{
    display: flex;
    flex-flow: row;
}

.PriceStyle{
    display: flex;
    flex-flow: row;
    margin-right: 10px;
}

.PriceStyle span{
    padding-top: 5px;
    margin-right: 5px;
}


.hotelsStyle{
    margin-top: 50px;
}

.hotelsListStyle{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.hotelsListStyle div{
    width: 300px;
    border: 2px solid rgb(228, 225, 225);
    border-radius:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.575); 
    margin:20px;
}

.hotelsListStyle p{
    color: black;
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 5px;
}

.hotelsListStyle p:first-of-type{
    padding-top: 5px;
}

.hotelsListStyle .basePriceStyle{
    color: rgb(8, 153, 8);
}

.hotelImg{  
    width: 296px;
    height: 200px; 
    border-radius:20px 20px 0 0 ;
}

.stars-icon{
    width: 30px; 
    height:30px;   
}

.star-icon{
    width: 10px; 
    height:10px; 
}

.header2Style{
    padding-top: 20px;
}

.smile{
    height: 50px;
    width: 50px;
}

.hotelStyle:nth-of-type(n):hover{
    transform: scale(1.1);
    transition: linear 0.2s all;
    border-color: #805ce4;
}








