<h2> General information </h2>
<p>  My name is {{name}}, I am {{age}} y.o., Front-End </p>
<p>      
    More then  {{period}} year ago I got interested in HTML and CSS and from the very beginning I understood that I finnally know what I want to do in my life.
</p>
<p>
    So I started to learn things myself by watching courses form Microsoft on EdX, free webinars, trying my skills on FreeCodeCamp and reading 
    malearn.javascript.ru when I decided to learn JavaScript. But with the time being, I have got some many question as well as I have had a feeling that
    I need to practice more that I have decided to go to the CBS courses where I have learned many new thing and developed my skills. 
    Currently I am aslo vising courses provided from EPAM to get some more practice, developing my skills in Angular2 and JavaScript.
</p>
    