<div class="container">
    <div class="row">
        <div class="col-10 offset-sm-1">
            <h1>Lyvytska Anna</h1>
            <h2>Front-end Developer / JS Developer </h2>
            <p>Looking for full-time/part-time or remote job</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5 offset-sm-1">
            <p> 
                <span class="infoHeaderStyle">Commercial experience: </span> {{experience}} year </p>
            <p>
                <span class="infoHeaderStyle">Contacts:</span> {{email}}, {{tel}}, Skype:{{skype}} </p>
            <p> 
                <span class="infoHeaderStyle">Date of birth: </span>15.05.1991 ({{age}} y.o.) </p>
        </div>
        <div class="col-5">
            <ul> 
                <p> <span class="infoHeaderStyle"> Personal qualities:</span></p>
                <li *ngFor="let quality of qualities">
                    {{quality}}
                </li>
            </ul>
        </div>
    </div>
        
</div>
