<div class="container">
    <div class="row">
        <div class="col-">
            <div *ngIf="errorMessage" class="alert alert-danger">
                    {{errorMessage}}
            </div>
            <p>You are going to delete hotel <b> <span [ngStyle]="{'color':'red'}">{{currentHotel?.name}}.</span></b></p>
            <p>Please confirm that hotel should be deleted. </p>
            <button class="btn" (click)="goBack()">Cancel</button>
            <button class="btn" (click)="deleteHotel()">Confirm</button>   
        </div>
    </div>
</div>
