ul {
    list-style: none;
    display: flex;
}   

a {
    text-decoration: none; 
    color: #805ce4;
    padding: 5px 10px;
    font-size: 30px;
    margin-right: 20px;
}


.active{
    color: #fff;
    background-color:#805ce4;
}

h4{
    color: #805ce4;
    font-weight: 700;
    font-size: 26px;
}

.innerRouting{
    margin-left: 0;
}

:host /deep/ table{
    margin: 10px 0 50px 0;
}

:host /deep/ tbody tr:nth-child(odd){
    background-color: #f8f9fa ;
}

:host /deep/ tbody tr:hover{
    background-color: #b5b9ff;
}

:host /deep/ button{
    color: #fff;
    background: #805ce4;
    border: 2px solid #805ce4;
    border-radius: 10px; 
    font-size: 24px;
    padding: 10px 30px;
}

:host /deep/ button:hover{
    background-color:#fff;
    border: 2px solid #805ce4;
    color: #805ce4;
}

:host /deep/ input[type="button"]{
    color: #fff;
    background: #805ce4;
    border: 2px solid #805ce4;
    border-radius: 10px; 
    font-size: 24px;
    padding: 10px 30px;
}

:host /deep/ input[type="submit"]{
    color: #fff;
    background: #805ce4;
    border: 2px solid #805ce4;
    border-radius: 10px; 
    font-size: 24px;
    padding: 10px 30px;
}

:host /deep/.linkStyle > button {
    margin: 0;
    padding: 0;
    margin-right: 40px;
    background-color: transparent;
    border: none;
    color: #805ce4;
}

:host /deep/ .linkStyle > button:hover{
    color: #D66786;
}

