.row {
    width: 100%;
}

.list-group-item {
    font-size: 22px;
    color: #805ce4;
}

.list-group .active{    
    background-color: #805ce4;
    border-color: #805ce4;
    color: #fff;
}

:host /deep/ table tbody tr th{
    width: 30%;
}

:host /deep/ table thead tr th:first-of-type{
    width: 30%;
}

h4{
    padding-top: 40px;
}

p{
    font-size: 18px;
}


ul{
    padding-top: 20px;
}

ul li{
    font-size: 18px;
    padding-bottom: 10px;
}

.wrapper{
    background-color: #f8f9fa;
}

.wrapper > div, .wrapper > h4, .wrapper ul li{
    padding-left: 10px;
}
.wrapperFlex{
    padding-top:40px;
    margin-bottom: 20px;
}

.h4Custom{
    padding-top: 0;
}







